@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/FiraSans/fira-sans-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('./fonts/FiraSans/fira-sans-v9-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./fonts/FiraSans/fira-sans-v9-latin_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/FiraSans/fira-sans-v9-latin_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('./fonts/FiraSans/fira-sans-v9-latin_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/FiraSans/fira-sans-v9-latin_cyrillic-regular.svg#FiraSans')
      format('svg'); /* Legacy iOS */
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  background-color: #fff8e1;
}

h1,
h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
}
