.playground-cont {
  /* border: 1px solid green; */
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.bordered {
  border: 1px solid red;
}

.timerFiguresCont {
  width: 80%;
  font-size: 25px;
  color: black;
}

.timerLabel {
  font-size: 10px;
  align: 'center';
}

.countdownHrs {
  border: 1px solid grey;
  margin-right: 10px;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 4px;
}

.countdownMin {
  border: 1px solid grey;

  margin-right: 10px;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 4px;
}

.countdownSec {
  border: 1px solid grey;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 4px;
}

.switch label input[type='checkbox']:checked + .lever:after {
  background-color: #00c851 !important;
  left: 1.5rem;
}
.switchAutobetting {
  color: black;
  margin-top: 10px;
}
