.playground-cont {
  /* border: 1px solid green; */
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.bordered {
  border: 1px solid red;
}

.timerFiguresCont {
  width: 90%;
  font-size: 18px;
  color: black;
}

.timerLabel {
  font-size: 9px;
  align: 'center';
}

/* .timerContainer {
  width: '100%';
  padding: 0;
  margin: 0;
 
} */

/* .bord {
  border: 1px solid green;
} */

.countdownDays {
  border: 1px solid grey;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 4px;
}

.countdownHrs {
  border: 1px solid grey;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 4px;
}

.countdownMin {
  border: 1px solid grey;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 4px;
}

.countdownSec {
  border: 1px solid grey;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 4px;
}

.switch label input[type='checkbox']:checked + .lever:after {
  background-color: #00c851 !important;
  left: 1.5rem;
}

.discount {
  color: red;
  font-size: 40px;
}

.pictSize {
  width: 100%;
  height: 20%;
}

.filterClass {
  margin-top: 70px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.cardWrapper {
  margin-bottom: 60px;
}
